#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    quick-tap-ms = <200>;
    flavor = "tap-preferred";
    require-prior-idle-ms = <125>;
};

/ {
    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 33 34 35>;
            hold-trigger-on-release;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32>;
            hold-trigger-on-release;
        };
    };

    combos {
        compatible = "zmk,combos";

        kha {
            bindings = <&kp LEFT_ALT>;
            key-positions = <11 12>;
        };

        hrdsgn {
            bindings = <&kp RIGHT_ALT>;
            key-positions = <17 18>;
        };

        combo_3 {
            bindings = <&kp LEFT_GUI>;
            key-positions = <21 22>;
        };

        combo_4 {
            bindings = <&kp RIGHT_GUI>;
            key-positions = <27 28>;
        };
    };

    macros {
        macro_0: macro_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(SPACE)>;
            label = "MACRO_1";
        };

        macro_1: macro_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LC(N0))>;
            label = "MACRO_2";
        };

        macro_2: macro_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LC(NUMBER_1))>;
            label = "MACRO_3";
        };

        macro_4: macro_4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(END)>, <&macro_wait_time 100>, <&kp DEL>;

            label = "MACRO_4";
        };

        macro_5: macro_5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp HOME>, <&macro_wait_time 100>, <&kp LS(END)>;

            label = "MACRO_5";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
  &kp Q                &kp W  &kp E  &kp R              &kp T                                      &kp Y        &kp U               &kp I      &kp O    &kp P
  &hml LEFT_COMMAND A  &kp S  &kp D  &hml LEFT_SHIFT F  &lt 4 G                                    &lt 4 H      &hmr RIGHT_SHIFT J  &kp K      &kp L    &hmr RGUI SEMICOLON
  &kp Z                &kp X  &kp C  &kp V              &lt 5 B                                    &lt 5 N      &kp M               &kp COMMA  &kp DOT  &kp PERIOD
                                     &lt 3 DEL          &lt 2 ENTER  &lt 1 TAB    &lt 1 BACKSPACE  &lt 2 SPACE  &lt 3 ESC
            >;
        };

        nav {
            bindings = <
  &none      &msc SCRL_RIGHT  &mmv MOVE_UP    &msc SCRL_UP     &mkp MB3                    &kp ASTERISK  &kp N7        &kp N8        &kp N9        &kp PLUS
  &kp RCTRL  &mmv MOVE_LEFT   &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &mkp MB1                    &kp SLASH     &kp NUMBER_4  &kp N5        &kp NUMBER_6  &hmr RCTRL MINUS
  &none      &msc SCRL_LEFT   &none           &msc SCRL_DOWN   &mkp MB2                    &kp N0        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PERIOD
                                              &trans           &trans    &trans    &trans  &trans        &trans
            >;
        };

        sym {
            bindings = <
  &none           &none     &kp UP    &kp PAGE_UP    &macro_4                    &kp GRAVE          &kp DOUBLE_QUOTES  &kp SQT                &kp CARET         &kp COLON
  &hml LGUI HOME  &kp LEFT  &kp DOWN  &kp RIGHT      &kp END                     &kp LEFT_BRACKET   &kp LEFT_BRACE     &kp LEFT_PARENTHESIS   &kp LESS_THAN     &kp SEMICOLON
  &none           &none     &none     &kp PAGE_DOWN  &none                       &kp RIGHT_BRACKET  &kp RIGHT_BRACE    &kp RIGHT_PARENTHESIS  &kp GREATER_THAN  &kp COMMA
                                      &trans         &trans    &trans    &trans  &trans             &trans
            >;
        };

        adj {
            bindings = <
  &none  &none  &none  &none             &none                         &kp PIPE       &kp LS(NUMBER_3)  &kp AMPERSAND  &kp TILDE       &kp LEFT_BRACKET
  &none  &none  &none  &kp C_PLAY_PAUSE  &kp C_NEXT                    &kp BACKSLASH  &kp HASH          &kp EQUAL      &kp UNDERSCORE  &kp SQT
  &none  &none  &none  &none             &none                         &kp AT_SIGN    &kp DOLLAR        &kp PERCENT    &kp QUESTION    &kp EXCLAMATION
                       &trans            &trans      &trans    &trans  &trans         &trans
            >;
        };

        layer_4 {
            bindings = <
  &kp F2  &kp F3  &kp F4  &kp F5         &kp F6                           &kp F7        &kp F8           &kp F9          &kp F10      &kp F11
  &kp F1  &none   &none   &none          &none                            &kp CAPSLOCK  &kp PRINTSCREEN  &kp SCROLLLOCK  &kp C_PAUSE  &kp F12
  &none   &none   &none   &none          &none                            &none         &kp K_MENU       &none           &kp INSERT   &none
                          &kp BACKSPACE  &kp SPACE  &kp ESCAPE    &trans  &trans        &trans
            >;
        };

        layer_5 {
            bindings = <
  &to 1        &to 2  &to 3  &to 4   &to 5                     &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_CLR
  &to 0        &none  &none  &none   &none                     &out OUT_BLE  &none         &none         &none         &studio_unlock
  &bootloader  &none  &none  &none   &none                     &out OUT_USB  &none         &none         &none         &bootloader
                             &trans  &trans  &trans    &trans  &trans        &trans
            >;
        };
    };
};
